<div class="card h-100">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3>
                {{movie.title}}
            </h3>
            <h3> <span class="badge" [ngClass]="{
                    'badge-success':movie.rating>=7,
                    'badge-warning':movie.rating>=4&&movie.rating<7,
                    'badge-danger':movie.rating<4
                }">{{movie.rating}}</span>

            </h3>
        </div>
        <div class="card-body">
            <figure>
                <img [src]="movie.image" class="img-fluid" alt="">
                <figcaption>
                    <p>
                        {{movie.description}}
                    </p>
                </figcaption>
            </figure>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-sm btn-success" (click)="onEdit(movie)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="onRemove(movie.id)">Delete</button>
        </div>
    </div>
</div>