<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-3">
            <app-movie-form (emitAdd)="onAdd($event)" [edit]="editObj" (emitUpdate)="onUpdate($event)"></app-movie-form>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let movieObj of movieArr">
            <app-movie-card (emitRemove)="onRemove($event)" (emitEdit)="onEdit($event)"
                [movie]="movieObj"></app-movie-card>
        </div>
    </div>
</div>