.main-wrapper {
  width: 100%;
  padding: 20px;
}

.section-title {
  height: 50px;
  width: 400px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
