<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>name</th>
                    <th>age</th>
                    <th>course</th>
                    <th>grade</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of stdObj">
                    <td>{{std.name}}</td>
                    <td>{{std.age}}</td>
                    <td>{{std.course}}</td>
                    <td>{{std.grade}}</td>
                    <td><button class="btn btn-sm " color="primary" mat-raised-button
                            (click)="onEdit(std)">Edit</button></td>
                    <td><button class="btn btn-sm " color="warn" mat-raised-button
                            (click)="onRemove(std.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>